#Directory with HybPiper output
data_HybPiper=HybPiper_output

#Probe file for HybPiper with only one representative per locus
probe_HP_one_repr=Malinae_probes_separated_exons_paralogs_malus.fas

#Server where HybPiper output is stored
server_HP=brno6